<div class="slds-grid slds-grid--pull-padded">
  <div class="slds-col--padded slds-size--1-of-8">
        <span class="slds-avatar slds-avatar--medium slds-avatar--circle">
        <!--<img src="/assets/images/avatar1.jpg" alt="person name" />-->
        </span>      
  </div>
  <div class="slds-col--padded slds-size--7-of-8">
            <div class="slds-form-element">
        <label class="slds-form-element__label" for="text-input-01">Name</label>
        <div class="slds-form-element__control">
            <input id="text-input-01" class="slds-input" type="text" />
        </div>
        </div>

        <div class="slds-form-element">
        <label class="slds-form-element__label" for="text-input-01">Some other preference</label>
        <div class="slds-form-element__control">
            <input id="text-input-01" class="slds-input" type="text" />
        </div>
        </div>

        <div class="slds-form-element">
        <label class="slds-form-element__label" for="text-input-01">More preferences</label>
        <div class="slds-form-element__control">
            <input id="text-input-01" class="slds-input" type="text" />
        </div>
        </div>
        
                <fieldset class="slds-form-element">
        <legend class="form-element__legend slds-form-element__label">Receive Notifications</legend>
        <div class="slds-form-element__control">
            <label class="slds-radio">
            <input type="radio" name="options" />
            <span class="slds-radio--faux"></span>
            <span class="slds-form-element__label">Yeps</span>
            </label>
            <label class="slds-radio">
            <input type="radio" name="options" />
            <span class="slds-radio--faux"></span>
            <span class="slds-form-element__label">Nopes</span>
            </label>
        </div>
        </fieldset>

  </div>
</div>